<md-dialog aria-label="Add pin to category" ng-cloak>
  <form layout="column">
    <md-toolbar class="md-hue-1">
      <div class="md-toolbar-tools">
        <p>
          <md-icon style="color: white; padding-right: 15px;">location_on</md-icon>Add a point location to {{layer.name}}
        </p>

      </div>
    </md-toolbar>
    <md-dialog-content layout="column" flex>
      <div layout-padding layout-align="column">
        <md-input-container>
          <label for="">Name</label>
          <input ng-model="AddPinService.pin.name">
        </md-input-container>
        <md-input-container>
          <label for="">Longitude</label>
          <input ng-model="AddPinService.pin.longitude">
        </md-input-container>
        <md-input-container>
          <label for="">Latitude</label>
          <input ng-model="AddPinService.pin.latitude">
        </md-input-container>
        <md-button ng-click="AddPinService.setMapCenterCoordinate()" class="md-icon-button">
          <md-tooltip>Use map center as coordinate</md-tooltip>
          <md-icon icon="save">location_searching</md-icon>
        </md-button>
        <div>
          <md-button ng-click="AddPinService.saveEdits(AddPinService.pin, AddPinService.layer)">
            <md-tooltip>Save</md-tooltip>
            <md-icon icon="save">save</md-icon>
          </md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>
