<md-dialog aria-label="addLayer" style="min-width: 400px">
  <form layout="column">
    <md-toolbar class="md-hue-1" layout="row">
      <div class="md-toolbar-tools">
        <h2>Edit {{EditCategoryService.layer.name}}</h2>
      </div>
      <md-button aria-label="close" class="md-icon-button" style="margin: auto;">
        <md-tooltip>
          close window
        </md-tooltip>
        <md-icon icon="close" ng-click="EditCategoryService.cancel()">close</md-icon>
      </md-button>
    </md-toolbar>
    <md-dialog-content layout="column" flex>
      <div layout-padding layout-align="column" layout-wrapp>
        <div layout="row">
          <md-input-container flex>
            <label for="">Name</label>
            <input ng-model="EditCategoryService.layer.name">
          </md-input-container>
        </div>
        <div layout="row">
          <md-input-container flex>
            <label for="">Renderer type</label>
            <md-select ng-model="EditCategoryService.layer.style.rendererType" required>
              <md-option value="Simple symbol">
                Simple symbol
              </md-option>
              <md-option value="3D symbol">
                3D symbol
              </md-option>
            </md-select>
          </md-input-container>
        </div>
        <div ng-show="EditCategoryService.layer.style.rendererType=='3D symbol'" layout="column">
          <md-input-container>
            <label for="">3D shape</label>
            <md-select ng-model="EditCategoryService.layer.style.shape3D" required>
              <md-option value="sphere">
                sphere
              </md-option>
              <md-option value="cylinder">
                cylinder
              </md-option>
              <md-option value="diamond">
                diamond
              </md-option>
              <md-option value="cube">
                cube
              </md-option>
              <md-option value="cone">
                cone
              </md-option>
              <md-option value="tetrahedron">
                tetrahedron
              </md-option>
            </md-select>
          </md-input-container>
          <div layout="row">
            <md-input-container>
              <label for="">Height</label>
              <input ng-model="EditCategoryService.layer.style.height">
            </md-input-container>

            <md-input-container>
              <label for="">Width</label>
              <input ng-model="EditCategoryService.layer.style.width">
            </md-input-container>
          </div>
        </div>
        <div ng-hide="EditCategoryService.layer.style.rendererType=='3D symbol'" ng-show="(EditCategoryService.layer.style.rendererType.lenght>=1)" layout="column">
          <md-input-container>
            <label for="">Shape</label>
            <md-select ng-model="EditCategoryService.layer.style.shape" required>
              <md-option value="circle">
                circle
              </md-option>
              <md-option value="square">
                square
              </md-option>
              <md-option value="diamond">
                diamond
              </md-option>
            </md-select>
          </md-input-container>
          <md-input-container>
            <label for="">Size</label>
            <input ng-model="EditCategoryService.layer.style.size">
          </md-input-container>
        </div>
        <md-input-container>
          <label for="">Color</label>
          <color-picker ng-model="EditCategoryService.layer.style.color" options="options"></color-picker>
        </md-input-container>
        <div>
          <md-button ng-click="EditCategoryService.saveEdits(layer)">
            <md-tooltip>Save</md-tooltip>
            <md-icon icon="save">save</md-icon>
          </md-button>
        </div>
      </div>
    </md-dialog-content>
  </form>
</md-dialog>