* {
  margin: 0;
  padding: 0;
}
.ng-scope {
  height: 100%;
}
md-select {
    margin-bottom: 1.25em;
}
md-tooltip.ng-scope {
  height: auto;
}
.basemapButton {
  width: 60px;
  height: 60px;
  min-width: 60px;
  min-height: 60px;
}
#addLayerButton{
  font-size: 10px;
  min-width: 50px;
  min-height: 30px;
}
#viewDiv {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  position: relative;
}
#mapCenter {
  position: absolute;
  z-index: 71;
  left: 15px;
  bottom: 30px;
  box-sizing: border-box;
  background-color: white;
  font-size: 14px;
  line-height: 30px;
  overflow: auto;
}
#selectMenu {
  position: absolute;
  z-index: 72;
  right: 15px;
  bottom: 30px;
  box-sizing: border-box;
  background-color: white;
  font-size: 14px;
  line-height: 30px;
  overflow: auto;
}
#selectMenu .md-button {
   height: 60px;
  padding: 0;
  min-height: 60px;
  width: 100px;
  min-width: 100px;
}

.text-line-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1; /* number of lines to show */
    line-height: 24px; /* fallback */
    max-height: 24px;
}

md-list#layers md-list-item.active {
  background-color: #EEE;
}

md-list#layers .small-toolbar {
  height: 30px;
  background-color: #666;
  color: white;
}

md-list#layers .small-toolbar md-icon {
  font-size: 14px !important;
  color: white;
}
md-list#layers .pins, md-list#layers .empty {
  border-bottom: 2px solid #666;
}

md-list#layers .empty {
  color: #666;
  font-style: italic;
  font-size: 0.85em;
}

md-list#layers .pins .md-button.md-icon-button {
  margin: 0;
  line-height: 18px;
  padding: 0;
  height: inherit;
}

md-list#layers .pins > div {
  cursor: pointer;
}
md-list#layers .pins > div:hover {
  background-color: #EEE;
}


md-list#layers .pins md-icon {
  font-size: 18px;
  position: relative;
  top: 2px;
}

md-list#layers .pins p {
  font-size: 13px;
}
