<div layout="row">
  <div id="viewDiv" flex>
    <div id="mapCenter" layout-padding style="background-color: #212121; color: white;">
    longitude: {{center.longitude | number:2}}, latitude: {{center.latitude | number:2}}
    </div>
    <div id="selectMenu" style="background-color: #212121; color: white; font-weight: bold;" layout="column">
      <md-menu layout="column">
        <md-button aria-label="Open phone interactions menu" ng-click="openMenu($mdOpenMenu, $event)">
          <img ng-src="{{map.basemapTemplateUrl}}" alt="" style="width: 60px; height: 60px;">
        </md-button>
        <md-menu-content>
          <md-menu-item ng-repeat="basemap in basemaps" layout-padding>
            <md-button ng-click="changeBasemap(basemap)" class="basemapButton">
              <img ng-src="{{basemap.templateUrl}}" alt="" style="width: 100px; height: 50px;"> {{basemap.alias}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
  <div layout="column" style="width: 220px;">
    <md-card flex layout="column" style="margin: 0; padding: 0;">
      <md-toolbar class="md-toolbar-tools md-hue-1">
        <p>
          <md-icon>layers</md-icon> Layer list
        </p>
        <md-button class="md-icon-button" ng-click="addCategory($event)">
          <md-tooltip>create a new layer</md-tooltip>
          <md-icon>
            add_box
          </md-icon>
        </md-button>
      </md-toolbar>
      <md-list id="layers">
        <div ng-repeat="category in categories">
          <md-list-item ng-class="{'active': category.expand}" ng-click="category.expand=!category.expand">
            <p class="text-line-1" style="width: ">{{category.name}}</p>
            <md-icon class="md-secondary" ng-click="changeLayerVisibility(category)">{{category.visible ? 'visibility' : 'visibility_off'}}</md-icon>
          </md-list-item>
          <div layout="column" ng-if="category.expand">
            <div class="small-toolbar" layout="row">
              <md-button class="md-icon-button" ng-click="zoomToExtent(category)" aria-label="zoomIn">
                <md-tooltip>zoom to</md-tooltip>
                <md-icon style="font-size: 20px;">zoom_in</md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-click="addPin($event, category)">
                <md-tooltip>Add a new location</md-tooltip>
                <md-icon>add</md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-click="edit($event, category)" aria-label="symbolPopup">
                <md-tooltip>Edit</md-tooltip>
                <md-icon>edit</md-icon>
              </md-button>
              <md-button class="md-icon-button" ng-click="confirmDeleteCategory($event, category)">
                <md-tooltip>Delete</md-tooltip>
                <md-icon>cancel</md-icon>
              </md-button>
            </div>

            <div layout-padding class="empty" ng-if=" ! (pins | filter:{id_category: category.id}).length" layout="row" layout-align="center center">This layer is empty, please add some points location</div>
            <div class="pins" ng-if="(pins | filter:{id_category: category.id}).length">
              <div layout="row" layout-padding ng-click="zoomIn(pin.longitude, pin.latitude)" ng-repeat="pin in pins | filter:{id_category: category.id}">
                <md-icon>place</md-icon>
                <p class="text-line-1" flex>{{pin.name}}</p>

                <md-button class="md-secondary md-icon-button" ng-click="editPin($event, pin)">
                  <md-tooltip>Edit</md-tooltip>
                  <md-icon>edit</md-icon>
                </md-button>
                <md-button class="md-secondary md-icon-button">
                  <md-tooltip>Remove</md-tooltip>
                  <md-icon ng-click="confirmDeletePin($event, pin)">cancel</md-icon>
                </md-button>
              </div>
            </div>
          </div>
        </div>
      </md-list>

      <!--<md-toolbar class="md-toolbar-tools md-hue-1">
        <p>
          <md-icon>layers</md-icon> Layer list
        </p>
        <md-button class="md-icon-button" ng-click="addCategory($event)">
          <md-tooltip>create a new layer</md-tooltip>
          <md-icon>
            add_box
          </md-icon>
        </md-button>
      </md-toolbar>
      <div layout-padding layout="column">
        <md-content flex>
          <div ng-repeat="category in categories" style="border: solid; border-color: #ece5e5; border-width: 1px;" layout-margin layout-padding>
            <md-checkbox ng-model="category.visible" ng-click="changeLayerVisibility(category)">
              <h4 style="color: darkblue;">
                {{category.name}}
              </h4>
            </md-checkbox>
            <md-button class="md-icon-button" ng-show="category.expand" flex>
              <md-icon ng-click="category.expand=!category.expand">expand_less</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-show="!category.expand" flex>
              <md-icon ng-click="category.expand=!category.expand">expand_more</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="zoomToExtent(category)" aria-label="zoomIn">
              <md-tooltip>zoom to</md-tooltip>
              <md-icon style="font-size: 20px;">zoom_in</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="addPin($event, category)">
              <md-tooltip>Add a new location</md-tooltip>
              <md-icon>
                add
              </md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="edit($event, category)" aria-label="symbolPopup">
              <md-tooltip>Edit</md-tooltip>
              <md-icon>edit</md-icon>
            </md-button>
            <md-button class="md-icon-button" ng-click="confirmDeleteCategory($event, category)">
              <md-tooltip>Delete</md-tooltip>
              <md-icon>cancel</md-icon>
            </md-button>
            <p>
            </p>
            <div layout-padding ng-show="category.expand">
              <md-divider></md-divider>
              <p ng-show="!pinfiltered.length">This layer is empty, please add some points location</p>
              <div>
                <div ng-repeat="pin in pinfiltered = (pins | filter:{id_category: category.id})" style="padding-left: 20px;">
                  - {{pin.name}}
                  <md-button class="md-icon-button" ng-click="zoomIn(pin.longitude, pin.latitude)" aria-label="zoomIn">
                    <md-tooltip>zoom to</md-tooltip>
                    <md-icon style="font-size: 20px;">zoom_in</md-icon>
                  </md-button>
                  <md-button class="md-icon-button" ng-click="editPin($event, pin)" aria-label="symbolPopup">
                    <md-tooltip>Edit</md-tooltip>
                    <md-icon style="font-size: 20px;">edit</md-icon>
                  </md-button>
                  <md-button ng-click="confirmDeletePin($event, pin)" class="md-icon-button" aria-label="delete" style="color: red; font-size: 20px;">
                    <md-tooltip>Delete</md-tooltip>
                    <md-icon style="color: red;">cancel</md-icon>
                  </md-button>
                </div>
              </div>
            </div>

          </div>
        </md-content>
      </div>
      -->
    </md-card>
  </div>
</div>
