<div layout="row">
  <div id="viewDiv" flex>
    <div id="mapCenter" layout-padding style="background-color: #212121; color: white;">
    longitude: <strong>{{EsriViewService.center.longitude | number:2}}</strong>, latitude: <strong>{{EsriViewService.center.latitude | number:2}}</strong>
    </div>
    <div id="mapConfiguration">
      <md-button class="md-icon-button" ng-click="MapSettingsService.show($event)">
        <md-tooltip>Map settings</md-tooltip>
        <md-icon>settings</md-icon>
      </md-button>
    </div>
    <div id="selectMenu" style="background-color: #212121; color: white; font-weight: bold;" layout="column">
      <md-menu layout="column">
        <md-button aria-label="Open basempap list" ng-click="openMenu($mdOpenMenu, $event)" >
          <img ng-src="{{EsriViewService.map.basemapTemplateUrl}}"  style="width: 100px; height: 60px;">
        </md-button>
        <md-menu-content>
          <md-menu-item ng-repeat="basemap in basemaps" layout-padding layout-margin>
            <md-button ng-click="EsriViewService.changeBasemap(basemap)" class="basemapButton">
              <img ng-src="{{basemap.templateUrl}}" alt="" style="width: 100px; height: 50px;"> {{basemap.alias}}
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
    </div>
  </div>
  <div layout="column" style="width: 220px;">
    <md-card flex layout="column" style="margin: 0; padding: 0;">
      <md-toolbar class="md-toolbar-tools md-hue-1" layout="row">
        <p flex>
          <md-icon>layers</md-icon> Layer list
        </p>
        <md-button class="md-raised" ng-click="AddCategoryService.show($event)" id="addLayerButton" aria-label="addLayer">
          <md-tooltip size="15">create a new layer</md-tooltip>
          new
        </md-button>
      </md-toolbar>
      <md-list id="layers" layout="column">
        <md-content flex>
          <div ng-repeat="category in categories">
            <md-list-item ng-class="{'active': category.expand}" ng-click="category.expand=!category.expand">
              <p class="text-line-1" style="width: ">{{category.name}}</p>
              <md-icon class="md-secondary" ng-click="EsriViewService.changeLayerVisibility(category)" aria-label="layer-visibility">{{category.visible ? 'layers' : 'layers_clear'}}</md-icon>
            </md-list-item>
            <div layout="column" ng-if="category.expand">
              <div class="small-toolbar" layout="row">
                <md-button class="md-icon-button" ng-click="zoomToExtent(category)" aria-label="zoomIn">
                  <md-tooltip>zoom to</md-tooltip>
                  <md-icon style="font-size: 20px;">zoom_in</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="AddPinService.show($event, category, EsriViewService.view.center)" aria-label="addPin">
                  <md-tooltip>Add a new location</md-tooltip>
                  <md-icon>add</md-icon>
                </md-button>
                <md-button class="md-icon-button" ng-click="EditCategoryService.show($event, category)" aria-label="symbolPopup">
                  <md-tooltip>Edit</md-tooltip>
                  <md-icon>edit</md-icon>
                </md-button>

                <md-button class="md-icon-button" ng-click="DeleteCategoryService.show($event, category)" aria-label="deleteCategory">
                  <md-tooltip>Delete</md-tooltip>
                  <md-icon>cancel</md-icon>
                </md-button>
              </div>
              <div layout-padding class="empty" ng-if=" ! (pins | filter:{id_category: category.id}).length" layout="row" layout-align="center center">This layer is empty, please add some points location</div>
              <div class="pins" ng-if="(pins | filter:{id_category: category.id}).length">
                <div layout="row" layout-padding ng-click="EsriViewService.zoomIn(pin.longitude, pin.latitude)" ng-repeat="pin in pins | filter:{id_category: category.id}">
                  <md-icon>place</md-icon>
                  <p class="text-line-1" flex>{{pin.name}}</p>
                  <md-button class="md-secondary md-icon-button" ng-click="EditPinService.show($event, pin)" aria-label="editPin">
                    <md-tooltip>Edit</md-tooltip>
                    <md-icon>edit</md-icon>
                  </md-button>
                  <md-button class="md-secondary md-icon-button" aria-label="deletePin" ng-click="DeletePinService.show($event, pin)">
                    <md-tooltip>Remove</md-tooltip>
                    <md-icon >cancel</md-icon>
                  </md-button>
                </div>
              </div>

            </div>
            <md-divider></md-divider>
          </div>
        </md-content>
      </md-list>
    </md-card>
  </div>
</div>
